<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848535169873-fnjao6g30llj11smjo6q1rhimch99s4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848535169873-fnjao6g30llj11smjo6q1rhimch99s4i</string>
	<key>API_KEY</key>
	<string>AIzaSyADjX7d-4N0HRC4yH_Itgkjc3vdEq5XAWo</string>
	<key>GCM_SENDER_ID</key>
	<string>848535169873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geonhyeongkim.BlogMobile</string>
	<key>PROJECT_ID</key>
	<string>stove-mobile-blog</string>
	<key>STORAGE_BUCKET</key>
	<string>stove-mobile-blog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848535169873:ios:39dc9f30fcca4c3db6c170</string>
</dict>
</plist>